<% content_for :title do %>
  <title><%= @item.title %>-monolist2</title>
<% end %>

<% content_for :meta_description do %>
  <meta name="description" content="have:user<% @have_users.each do |user| %><%= user.name %><% end %>want:user<% @want_users.each do |user| %><%= user.name %><% end %>">
<% end %>

<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <% if @item.large_image.present? %>
              <%= image_tag(@item.large_image , alt: @item.title) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: @item.title) %>
            <% end %>
        </div>
      </div>
      <div class="title">
        <%= @item.title %>
      </div>
      <%= render 'action' , item: @item %>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
         <% @have_users.each do |user| %>
           <%= link_to (gravatar_for user, size: 50) , user_path(user.id) %>
           <%= user.name %>
          <% end %>
        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          <% @want_users.each do |user| %>
           <%= gravatar_for user, size: 50 %>
           <%= user.name %>
          <% end %>
        </div>
      </div>
      <div class="text-center">
        <%= link_to('楽天詳細ページへ', @item.detail_page_url) %>
      </div>
    </div>
  </div>
</div>
